$black: #000;
$white: #fff;

$placeholder_color: $black;

$gray_dark: #3c3937;
$gray_medium: #4f4c49;
$gray_light: #696561;

$orange_dark: #bc5a28;
$orange_medium: #cf6828;
$orange_light: #f7ad4e;

$blue_light: #6f87a0;

$green_light: #8ba46c;
